<body>
  
    <div class="container" >
      <div class="row">
          <div class="col-md-4" *ngFor="let program of programs |async">
              <mat-card class="example-card" >
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{program.programId}}</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="assets/images/french_test_example.png" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ipsa?
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button [routerLink]="['program', program.programId]" routerLinkActive="router-link-active" >START TEST</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions>
                </mat-card>
          </div>
      </div>
    </div>
    
    </body>
    